{% extends "layout.html" %}
{% block navbar %}
<a href="" class="navbar-brand">TEBD</a>
<div class="collapse navbar-collapse">
  <form action="" class="form-inline my-2 my-lg-0">
    <input type="text" class="form-control mr-sm-2" placeholder="Procurar">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Procurar</button>
  </form>
</div>
{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <a href="/rate-movies">Avaliar Filmes</a> 
    </div>
  </div>
</div>
{% endblock %}