{% extends "layout.html" %}
{% block navbar %}
<a href="" class="navbar-brand">TEBD</a>
<div class="collapse navbar-collapse">
  <form action="/busca" class="form-inline my-2 my-lg-0">
    <input type="text" class="form-control mr-sm-2" name="nome" placeholder="Procurar">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" >Procurar</button>
  </form>
</div>
{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <h3>Top Filmes</h3>
    </div>
  </div>
  <div class="row">
    {% for filme in top_filmes %}
    <div class="col-md-4">
      <div class="card" style="margin-bottom: 10px">
        <div class="card-body">
          <h4 class="card-title">{{filme[0]}}</h4>
          <h6 class="card-subtitle text-muted">{{ "{0:.3}".format(filme[1]) }}</h6>
          <!-- <p class="card-text">Alguma coisa sobre o filme</p> -->
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="row">
    <div class="col">
      <h3>Recomendações</h3>
    </div>
  </div>
  <div class="row">
    {% for filme in top_recomendados %}
    <div class="col-md-4">
      <div class="card" style="margin-bottom: 10px">
        <div class="card-body">
          <h4 class="card-title">{{filme[0]}}</h4>
          <h6 class="card-subtitle text-muted">{{"{0:.3}".format(filme[1])}}</h6>
          <!-- <p class="card-text">Alguma coisa sobre o filme</p> -->
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>

{% endblock %}